{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not KUTJE</h1>

    {# example security usage, see below #}
    {% if app.security.token is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('admin_dashboard') }}">return to the homepage</a>.
    </p>
{% endblock %}