/* ======= Base markup ======= */
body {
  font-family: 'Roboto', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #f87a00;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #e68408;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  color: #fff;
  margin-right: 5px;
}
a.btn-cta,
.btn-cta {
  padding: 8px 30px;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #f87a00;
  border: 2px solid #f87a00;
  color: #fff;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #f79210;
  border: 2px solid #f79210;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: none;
  border: 2px solid #f87a00;
  color: #f87a00;
  margin-top: 10px;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #f87a00;
  border: 2px solid #f87a00;
  color: #fff;
}
a.btn-ghost,
.btn-ghost {
  background: none;
  border: 1px solid #fff;
  color: #fff !important;
  padding: 8px 20px;
  vertical-align: middle;
}
a.btn-ghost:hover,
.btn-ghost:hover {
  background: #4a6781;
  border: 1px solid #4a6781;
  color: #fff;
}
a.btn-ghost .fa,
.btn-ghost .fa {
  margin-right: 10px;
  font-size: 22px;
}
a.btn-ghost .text,
.btn-ghost .text {
  position: relative;
  top: -2px;
}
.highlight {
  color: #f87a00;
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #efefef;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e2e2e2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-highlight {
  color: #844c04;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
#topcontrol {
  background: #5d80a1;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: #384d60;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.video-container iframe {
  max-width: 100%;
}

/* Override bootstrap default */
hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 2px solid #e6e6e6;
}
textarea.form-control{
  resize: none;
}
.list-inline > li.post_date{
  padding: 0;
  display: list-item;
}
.page-header{
  padding-bottom: 9px;
  margin:0;
  border-bottom: 3px solid #eeeeee;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}

/* ======= Call to action markup ======= */
.section-fixed{
  overflow: hidden;
  position: fixed !important;
  width: 100% !important;
  z-index: 100 !important;
  -webkit-transform: translate3d(0px,0px,0px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.section-fixed .flexslider{
  overflow: hidden;
}


/* ======= Call to action markup ======= */
.cta-section {
    background: #253340 url('/bundles/app/img/background/bg-footer-1.jpg') no-repeat left top;
    background-size: cover;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    border: none;
}
.cta-section.pricing-cta-section {
    background-image: url('/bundles/app/img/background/bg-footer-2.jpg');
}
.cta-section.contact-cta-section {
    background-image: url('/bundles/app/img/background/bg-footer-3.jpg');

}
.cta-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
}
.cta-section .btn-cta {
    font-size: 18px;
}
.cta-section .intro {
    margin-bottom: 20px !important;
    color: #fff;
}
.cta-section .counting {
    color: #f87a00;
    font-weight: bold;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

/* ======= sections-wrapper ======= */
.sections-wrapper {
  background: #fff;
  z-index: 20;
  position: relative;
}
.section .intro {
  line-height: 1.6;
  color: #8a8a8a;
  margin: 0 auto;
  max-width: 850px;
  margin-bottom: 13px;
  text-align: center;
  font-size: 18px;
}
.section .intro-second {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #868686;
  font-size: 18px;
}
.section-on-bg .title {
  color: #fff;
}
.section-on-bg .intro {
  color: #fff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

/* ======= blog-wrapper ======= */
.blog-entry-wrapper{
  margin-top: 60px;
  margin-bottom: 0;
}

/* ======= IE9 Fix ======= */
.ie9 .pricing .item .ribbon,
.ie8 .pricing .item .ribbon {
  top: 0px;
  right: 0px;
  height: 60px;
}
.ie9 .pricing .item .ribbon .text,
.ie8 .pricing .item .ribbon .text {
  position: static;
  font-size: 13px;
  width: auto;
  padding: 5px;
}
.ie9 .pricing .item .ribbon .text:before,
.ie8 .pricing .item .ribbon .text:before,
.ie9 .pricing .item .ribbon .text:after,
.ie8 .pricing .item .ribbon .text:after {
  display: none;
}