/* ======= Header ======= */
.header {
    color: #fff;
    width: 100%;
    position: relative;
    z-index: 40;
    height: 80px;
}
.header.scrolled {
    height: 80px;
    top: 0;
}
.header.scrolled .main-nav .nav .nav-item a {
    color: #666666;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    background: #f87a00;
    border-color: #f87a00;
}
.header.scrolled .main-nav .nav .dropdown-menu a {
    color: #fff;
}
.header h1.logo {
    font-family: "Roboto Slab", arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 15px;
    float: left;
}

p.readmore {
    bottom: 0;
    position: absolute;
    overflow: hidden;
    left:50%;
    margin: 0 0 0 -73px;
}
p.readmore a{
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    max-width: 155px;
    background: #f87a00;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    position: relative;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    max-font-size: 15px;
}
.header h1.logo a {
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    max-width: 155px;
    background: #f87a00;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    position: relative;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    font-size: 20px;
}
.header h1.logo a:hover {
    text-decoration: none;
}
.header h1.logo .logo-title {
    vertical-align: middle;
    line-height: 1.6;
}

.header .main-nav {
    margin-top: 15px;
}
.header .main-nav .navbar-toggle {
    margin-right: 0;
    margin-top: 0;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.header .main-nav .navbar-toggle:focus {
    outline: none;
}
.header .main-nav .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.6);
    height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}
.header .main-nav .nav .nav-item {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 15px;
}
.header .main-nav .nav .nav-item.active a {
    color: #f87a00;
    background: none;
    font-weight: bold;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 13px;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
    border: 1px solid #f87a00;
    background: #f87a00;
}
.header .main-nav .nav .nav-item a {
    color: #fff;
    font-weight: 500;
}
.header .main-nav .nav .nav-item a:hover {
    color: #f87a00;
    background: none;
}
.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item.active {
    color: #f87a00;
}
.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}
.header .main-nav .nav.active {
    position: relative;
}
.header .main-nav .nav.active > a {
    background: #e68408;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav.active > a:before {
    content: "\f0d8";
    position: absolute;
    bottom: -8px;
    left: 0;
    text-align: center;
    font-family: FontAwesome;
    display: block;
    font-size: 12px;
    width: 100%;
}
.header .main-nav .nav.active > a.dropdown-toggle:before {
    display: none;
}
.header .main-nav .nav.open a {
    background: none;
}
.header .main-nav .nav .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    border: none;
    text-transform: none;
    min-width: 180px;
    background: #253340;
}
.header .main-nav .nav .dropdown-menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #253340;
    position: absolute;
    right: 30px;
    top: -10px;
}
.header .main-nav .nav .dropdown-menu a {
    border-bottom: 1px solid #212e3a;
    padding: 8px 20px;
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.header .main-nav .nav .dropdown-menu a:hover {
    background: #2e4050;
    color: #fff;
}

/* Blog homepage */
.blog-list .post {
    padding: 0 15px;
    margin-bottom: 30px;
}
.blog-list .post .post-inner {
    padding: 0px;
    position: relative;
    border: 1px solid #efefef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.blog-list .post .post-thumb {
    background: #253340;
    overflow: hidden;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.blog-list .post .post-thumb img {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}
.blog-list .post .post-thumb img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.blog-list .post .content {
    padding: 30px;
    padding-bottom: 15px;
    color: #666666;
    background: #fff;
}
.blog-list .post .content .post-title {
    margin-top: 0;
    font-size: 18px;
}
.blog-list .post .content .post-title a {
    color: #253340;
}
.blog-list .post .content .post-entry {
    margin-bottom: 15px;
}
.blog-list .post .content .meta {
    font-size: 13px;
    color: #999999;
    margin-bottom: 0;
}
.blog-list .post .content .meta ul {
    margin-left: 0;
    border-top: 1px solid #efefef;
    padding-top: 15px;
}
.blog-list .post .content .meta li:first-child {
    padding-left: 0;
}
.blog-list .post .content .meta li .fa {
    margin-right: 5px;
}
.blog-list .post .content .meta li a {
    color: #999999;
}
.blog-list .post .content .meta li a:hover {
    color: #f87a00;
}
/* Single blog post */
 .blog-entry .blog-entry-heading {
    margin-bottom: 60px;
    position: relative;
    height: 500px;
    background: #253340 url('/bundles/app/img/blog/post-2.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
 .blog-entry .blog-entry-heading:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
 .blog-entry .blog-entry-heading .container {
    position: relative;
    z-index: 11;
    max-width: 700px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 120px;
}
.flex-caption.container {
    text-align:center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.flex-caption.container.project-container {*/
    /*text-align:center;*/
    /*height: 100%;*/
    /*display: block;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/
.flex-container-inner {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    max-width: 100%;

}
 .title {
    margin-bottom: 30px;
    font-size: 42px;
}
 .meta {
    font-size: 18px;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
 .meta a {
    color: #fff;
}
 .meta a:hover {
    color: #fff;
}
 .meta .fa {
    margin-right: 5px;
}
.post-nav-top {
    position: absolute;
    z-index: 11;
    width: 100%;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 30px;
    margin-bottom: 0;
    font-size: 14px;
}
 .post-nav-top a {
    color: #fff;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
 .post-nav-top a:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
 .blog-entry .blog-entry-content {
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
}
 .blog-entry .blog-entry-content h1,
 .blog-entry .blog-entry-content h2,
 .blog-entry .blog-entry-content h3,
 .blog-entry .blog-entry-content h4,
 .blog-entry .blog-entry-content h5,
 .blog-entry .blog-entry-content h6 {
    color: #4a6781;
}
 .blog-entry .blog-entry-content h1.section-heading,
 .blog-entry .blog-entry-content h2.section-heading,
 .blog-entry .blog-entry-content h3.section-heading,
 .blog-entry .blog-entry-content h4.section-heading,
 .blog-entry .blog-entry-content h5.section-heading,
 .blog-entry .blog-entry-content h6.section-heading {
    margin-top: 55px;
    margin-bottom: 15px;
}
 .blog-entry .blog-entry-content p {
    margin-bottom: 15px;
}
.blog-entry .blog-entry-content p:first-child:first-letter {
    color: #f87a00;
    float: left;
    font-size: 95px;
    line-height: 67px;
    padding-top: 8px;
    margin-left: -9px;
    padding-right: 5px;
    padding-left: 3px;
}
 .blog-entry .blog-entry-content ul,
 .blog-entry .blog-entry-content ol {
    margin-bottom: 30px;
}
 .blog-entry .blog-entry-content ul li,
 .blog-entry .blog-entry-content ol li {
    margin-bottom: 15px;
}
 .blog-entry .blog-entry-content .figure {
    margin-bottom: 30px;
}
 .blog-entry .blog-entry-content .figure .figure-caption {
    font-size: 16px;
    color: #999999;
    margin-top: 10px;
}
 .blog-entry .blog-entry-content .figure .figure-caption a {
    color: #999999;
}
 .blog-entry .blog-entry-content .figure .figure-caption a:hover {
    color: #f87a00;
}
 .blog-entry .blog-entry-content .custom-list-style {
    margin-top: 35px;
     padding-left: 0 !important;
    margin-bottom: 40px;
}
 .blog-entry .blog-entry-content .custom-list-style li {
    list-style: none;
    margin-bottom: 5px;
}
 .blog-entry .blog-entry-content .custom-list-style li .fa {
    margin-right: 10px;
    color: #f87a00;
}
 .blog-entry .post-nav {
    margin-bottom: 60px;
    margin-top: 60px;
}
.post-nav .nav-next {
    float: right;
}
.post-nav .nav-next .fa {
    margin-left: 5px;
}
.post-nav .nav-previous .fa {
    margin-right: 5px;
}
 .custom-quote {
    border: none;
    padding: 0;
    font-family: 'Roboto slab', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}
 .custom-quote p {
    color: #666666;
    line-height: 1.6;
}
 .custom-quote .fa {
    color: #f87a00;
    margin-right: 10px;
}
 .custom-quote .source {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0 !important;
    font-size: 16px;
    text-align: right;
}
 .custom-quote .source .fa {
    margin-right: 5px;
}
 .custom-quote .source .name {
    color: #444444;
}
 .custom-quote .source .title {
    font-size: 16px;
    color: #999999;
}
 .box {
    padding: 30px;
    background: #f5f5f5;
}
.blog-page .header-blog {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: #fff;
    height: 80px;
}
.blog-page .header-blog .main-nav .nav .nav-item a {
    color: #666666;
}
.blog-page .header-blog .main-nav .nav .nav-item a:hover {
    color: #f87a00;
}
.blog-page .header-blog .main-nav .nav .dropdown-menu a {
    color: #fff;
}
.blog-page .header-blog h1.logo a {
    max-width: inherit;
    background: none;
    color: #f87a00;
    padding-left: 0;
    padding-top: 25px;
}
.blog-page .header-blog h1.logo a .sub {
    font-family: "Roboto", arial, sans-serif;
    color: #253340;
    font-weight: 300;
}
.blog-page .header-blog .main-nav .nav .nav-item.last {
    margin-right: 40px;
}
.blog-page .header-blog .main-nav .nav .nav-item.last .fa {
    font-size: 16px;
    margin-right: 5px;
}
/* Blog category page */
.blog-category {
    margin-top: 160px;
}
.blog-category .page-title {
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 36px;
    padding-top: 80px;
}
.blog-category .page-title .fa {
    color: #384d60;
    margin-right: 10px;
    font-size: 30px;
}
.blog-category .blog-list .post .content .post-title {
    font-size: 24px;
}
.blog-category .blog-list .post .content .meta ul {
    border-top: none;
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
    padding-top: 5px;
}
.blog-category .blog-category-list .post {
    margin-bottom: 60px;
}
/* Blog archive page */
.blog-archive .blog-list .post .content {
    padding-left: 80px;
}
.blog-archive .post {
    position: relative;
}
.blog-archive .post .date-label {
    background: #f5f5f5;
    display: inline-block;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    left: 15px;
    top: 30px;
    color: #fff;
}
.blog-archive .post .date-label .month {
    background: #253340;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    padding: 2px 0;
}
.blog-archive .post .date-label .date-number {
    clear: left;
    display: block;
    padding-top: 5px;
    font-size: 18px;
    font-family: 'open sans', arial, sans-serif;
    font-weight: 500;
    color: #253340;
}