/* ======= Login Page ======= */
.has-full-screen-bg .upper-wrapper {
    background: #253340 url('../bundles/page/img/background/bg-screen-1.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-full-screen-bg.signup-page .upper-wrapper {
    background: #253340 url('../bundles/page/img/background/bg-screen-2.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.has-full-screen-bg .header h1.logo {
    float: none;
    text-align: center;
}
.has-full-screen-bg .header h1.logo a {
    margin: 0 auto;
}
.access-section {
    padding-bottom: 200px;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
}
.access-section .form-box .form-box-inner {
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 40px;
}
.access-section .form-box .title {
    font-weight: 300;
    margin-bottom: 60px;
    margin-top: 0;
}
.access-section.signup-section .title {
    margin-bottom: 15px;
}
.access-section.signup-section .intro {
    margin-bottom: 60px;
}
.access-section .form-group {
    position: relative;
}
.access-section .form-group.email:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 10px;
    top: 12px;
    color: #999999;
}
.access-section .form-group.password:before {
    content: "\f023";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 10px;
    top: 12px;
    color: #999999;
}
.access-section .form-control {
    font-size: 16px;
    padding-left: 30px;
    font-size: 14px;
}
.access-section .form-control::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999999;
}
.access-section .form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
}
.access-section .form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
}
.access-section .form-control:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999999;
}
.access-section .social-btns {
    padding-left: 60px;
    min-height: 250px;
    margin-bottom: 15px;
}
.access-section .social-btns li {
    margin-bottom: 10px;
}
.access-section .social-btns li .btn {
    color: #fff;
    min-width: 220px;
    text-align: left;
}
.access-section .social-btns li .btn:hover {
    color: #fff;
}
.access-section .social-btns li .btn .fa {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding-right: 10px;
    width: 30px;
}
.access-section .twitter-btn {
    background: #55acee;
}
.access-section .twitter-btn:hover {
    background: #2795e9;
}
.access-section .facebook-btn {
    background: #3b5998;
}
.access-section .facebook-btn:hover {
    background: #2d4373;
}
.access-section .google-btn {
    background: #dd4b39;
}
.access-section .google-btn:hover {
    background: #c23321;
}
.access-section .github-btn {
    background: #444444;
}
.access-section .github-btn:hover {
    background: #2b2b2b;
}
.access-section .forgot-password {
    font-size: 13px;
    margin-top: 10px;
}
.access-section .forgot-password a {
    color: #999999;
}
.access-section .forgot-password a:hover {
    text-decoration: underline;
    color: #f87a00;
}
.access-section .divider {
    border-left: none;
    margin-bottom: 30px;
    position: static;
}
.access-section .divider span {
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    top: inherit;
    text-transform: uppercase;
    color: #999999;
}
.access-section .divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    background: #e5e5e5;
    height: 1px;
    width: 100%;
}
.access-section .social-btns {
    padding-left: 0;
    text-align: center;
}
.access-section .social-btns .btn {
    min-width: 100%;
}
.access-section .social-btns .social-login {
    display: inline-block;
    margin: 0 auto;
}
.access-section .note {
    color: #999999;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.access-section .btn + .note {
    margin: 15px 0;
}
.access-section .remember label {
    font-size: 14px;
    color: #666666;
}
.access-section .lead {
    font-size: 14px;
    color: #999999;
    margin-top: 30px;
}
/* ======= Reset Password Page ======= */
.resetpass-section .form-box .title {
    margin-bottom: 30px;
}
.resetpass-section .intro {
    font-size: 16px;
    margin-bottom: 30px;
}
