/* iPhone 4 + 4S */
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
     .blog-slider .flex-caption .title{
        font-size: 28px !important;
    }
    ul.beentheredonethat > li{
        font-size: 18px !important;
    }
}
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .flex-container-inner {
        margin-top: 0 !important;

    }
    .blog-slider .flex-caption .title{
        font-size: 28px !important;
    }
    ul.beentheredonethat > li{
        font-size: 18px !important;
    }
}

/* iPhone 5 + 5S */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .blog-slider .flex-caption .title{
        font-size: 33px !important;
    }
    ul.beentheredonethat > li{
        font-size: 18px !important;
    }
}
/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .flex-container-inner {
        margin-top: 0 !important;

    }
    .blog-slider .flex-caption .title{
        font-size: 28px !important;
    }
    ul.beentheredonethat > li{
        font-size: 18px !important;
    }
}

/* iPhone 6 */
@media only screen
and (min-device-width: 568px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .flex-container-inner {
        margin-top: -100px;
        position: relative;
        width: 340px;
        margin-left: 40px;
    }
}
/* padding: 15px; */
/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .flex-container-inner {
        margin-top: 0 !important;
        width: 100%;

    }
    .blog-slider .flex-caption .title{
        font-size: 28px !important;
    }
    ul.beentheredonethat > li{
        font-size: 18px !important;
    }
}

/* iPhone 6+ */
/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* Galaxy S3*/
/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/*  Galaxy S4 */
/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* Galaxy S5 */
/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* HTC One */
/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

}