/* ======= Modal markup ======= */
.modal.modal-video .modal-dialog {
    width: 760px;
    margin-top: 90px;
}
.modal.modal-video .modal-body {
    padding: 0;
    padding-top: 0;
}
.modal.modal-video .modal-header {
    border: none;
    padding: 0;
    position: relative;
}
.modal.modal-video .modal-content {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.modal.modal-video button.close {
    font-size: 36px;
    font-weight: 300;
    text-shadow: none;
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background: none;
    position: absolute;
    right: 0px;
    bottom: 5px;
    z-index: 10;
}
.modal.modal-video button.close:hover {
    color: #f87a00;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.modal-backdrop.in {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
}
