/* ======= Screen devices markup ======= */
/* - Extra small devices (phones <768px) */
/* - Small devices (tablets >768px) */
/* - Medium devices (dekstop >992px) */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    .story-container.container{
        padding:0 !important;
    }
    .story-container-inner{
        border-radius: 0 !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        font-size: 18px;
        line-height: 1.6;
        color: #666666;
        text-align: left !important;
    }
    .story-section .experience{
        font-size: 18px;
        line-height: 1.6;
        color: #666666;
    }

    .story-container-inner{
        padding: 0 !important;
    }
    section.section.index{
        height: 100vh;
    }
    .flexslider.blog-slider{
        height: 100vh;
    }
    .blog-slider .slide.slide-1 {
        height: 100vh;
    }
    .blog-slider .flex-caption {
        height: 100vh;
    }
    .section .intro{
        text-align: left;
    }

    .section .intro.project-intro{
        text-align: center !important;
    }

    ul.beentheredonethat > li{
        font-weight: 500 !important;
    }
    .flex-container-inner{
        margin-top: -100px;
        position: relative;
        width: 330px;
        padding: 15px;
    }

    .steps .step .title span.text{
        display:none;
    }
    .steps .step .title span.text-xs{
        display:block;
    }

    h4.timeline-title{
        display:none;
    }
    h4.timeline-title.timeline-title-xs{
        display:block;
    }
    .intro.intro-switch{
        display: none;
    }
    .intro.intro-xs{
        display: block;
    }
    .btn-cta-primary, .btn-cta-secondary{
        width: 100% !important;
    }
    #bezigheden > p{
        line-height: 1.6;
        color: #666666;
    }
    .steps .step .title{
        text-align: left !important;
    }

    .steps .step .title .text{
        font-weight: 500 !important;
        font-size: 18px !important;
    }
    .steps .step .title .number{
    display: none !important;
}
    .steps .step{
    padding: 0 15px !important;
}
    .text-center{
    text-align: left !important;
}
    .col-centered{
    padding: 3px !important;
}
    .col-fixed {
    width: 125px !important;
}
    .config-wrapper {
    display: none;
}
    #topcontrol {
    display: none !important;
}
    .header h1.logo {
    float: none;
    margin: inherit;
    text-align: center;
}
    .header h1.logo a {
    margin: 0 auto;
}
    .header p.readmore {
    float: none;
    margin: inherit;
    text-align: center;
}
    .header p.readmore a {
    margin: 0 auto;
}
    .header.header-fixed {
    position: relative;
}
    .header.navbar-fixed-top {
    position: absolute;
    top: 0;
}
    .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 90px;
    position: absolute;
    background: #253340;
    z-index: 45;
}
    .navbar-collapse .nav {
    margin: 0;
}
    .header .main-nav .nav .dropdown-menu:before {
    display: none;
}
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
}
    .has-full-screen-bg.access-page .upper-wrapper {
    background: #384d60;
}
    .access-section {
    padding-top: 15px;
}
    /*.headline-bg + .section,*/
    /*.bg-slider-wrapper + .section {*/
    /*padding-top: 45px;*/
    /*}*/
    .pricing .intro {
    margin-bottom: 45px;
}
    .features-video iframe {
    padding: 5px;
}
    .features-tabbed {
    padding-top: 160px;
}
    .access-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
}
    .signup-page .form-box .intro {
    margin-bottom: 45px;
}
    .login-page .form-box .title {
    margin-bottom: 45px;
}
    .section .title {
    font-size: 32px;
}
    .promo {
        height: 420px;
    }
    .why .item .content {
        margin-bottom: 60px;
    }
    .why .control {
        top: 58px;
        margin-left: -30px;
    }
    .why .item .title {
        margin-bottom: 30px;
        text-align: center;
    }
    .testimonials .item .profile {
        position: relative !important;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonials .item .content {
        padding-left: 30px !important;
        padding-right: 30px;
        text-align: center;
    }
    .testimonials .item blockquote .fa{
        display: none !important;
    }
    .testimonials .item blockquote {
        font-size: 18px;
    }
    .pricing .item.best-buy {
        position: static;
        z-index: inherit;
    }
    .nav-tabs > li > a {
        padding: 10px 5px;
    }
    .apps-section .phone-holder {
        -webkit-background-size: 280px auto;
        -moz-background-size: 280px auto;
        -o-background-size: 280px auto;
        background-size: 280px auto;
    }
    .apps-section .phone-holder .screenshot {
        width: 242px;
        top: 66px;
    }
    .searchbox-container .searchbox {
        width: 100%;
        top: inherit;
        float: none;
        margin-bottom: 30px;
    }
    .searchbox-icon {
        display: none;
    }
    .searchbox-icon,
    .searchbox-submit {
        background: #f87a00;
        color: #fff;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-topleft: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .searchbox-icon:hover,
    .searchbox-submit:hover {
        color: #fff;
    }
    .main-nav .navbar-collapse .navbar-nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .blog-page .header-blog {
        position: relative;
    }
    .blog-page .header-blog .main-nav .nav .nav-item a {
        color: #fff;
    }
    .blog-page .header h1.logo {
        float: left;
        margin: inherit;
    }
    .blog-page .header .main-nav .navbar-toggle {
        margin-bottom: 0;
        top: 20px;
    }
    .blog-page .header .main-nav .navbar-toggle .icon-bar {
        background-color: #384d60;
    }
    .blog-page .header .main-nav .navbar-toggle:hover .icon-bar {
        background-color: #253340;
    }
    .blog-page .flexslider {
        margin-top: 0;
    }
    .blog-category {
        margin-top: 0;
    }
    .blog-page .navbar-collapse {
        top: 80px;
    }
    .blog-page .header.navbar-fixed-top .main-nav .nav .nav-item a {
        color: #fff;
    }
    .blog-slider .flex-caption .title {
        text-align: right;
        line-height: 1;
        font-size: 36px;
        font-weight: 500;
        padding: 0;
    }
    .compact-slider .flex-caption .title {
        font-size: 36px;
        padding: 0;
    }
    .searchbox-container .searchbox .searchbox-input {
        position: static;
    }
    .footer-col {
        margin-bottom: 30px;
    }
    .footer-col .form-control {
        width: auto;
    }
    .footer .footer-col .navbar-form {
        padding-left: 15px;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .footer .footer-col .navbar-form .form-control {
        display: inline-block;
    }
    .modal.modal-video .modal-dialog {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .download-page .headline-bg {
        height: 1600px;
    }

    /*.story-section {*/
        /*padding-top: 65px !important;*/
    /*}*/
    .story-section .about {
        padding: 0;
    }
    .story-section .belife {
        margin-left: 0;
        margin-right: 0;
    }
    .story-section .team {
        padding: 0;
    }

    /* Timeline adjustments*/
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 0 !important;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }
    .timeline > li > .timeline-badge{
        display:none;
    }

    .timeline:before, .timeline > li > .timeline-badge{
        left: 0 !important;
    }

    .timeline > li > .timeline-panel{
        width: 100% !important;
        left: 0 !important;
    }

    .timeline > li > .timeline-panel {
        float: right;
    }

    .timeline > li > .timeline-panel:before {
        border-left-width: 0 !important;
        border-right-width: 15px !important;
        left: -15px !important;
        right: auto !important;
    }

    .timeline > li > .timeline-panel:after {
        border-left-width: 0 !important;
        border-right-width: 14px !important;
        left: -14px !important;
        right: auto !important;
    }
    .story-section .team .member{
        padding: 0 !important;
    }
    .story-section .story-container-inner div.text-left {
        padding: 0 !important;
        text-align: left;
    }

    .story-section .team {
        padding: 15px !important;
    }

    .story-section .experience {
        padding: 15px !important;
    }

}

@media (min-width: 768px) and (max-width: 992px){
    .steps .step{
        padding: 30px 20px !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    ul.beentheredonethat > li{
        text-align: center !important;
        font-size: 23px;
    }
    .steps .step .title span.text{
        display:block;
    }
    .steps .step .title span.text-xs{
        display:none;
    }
    h4.timeline-title{
        display:block;
    }
    h4.timeline-title.timeline-title-xs{
        display:none;
    }
    .intro.intro-switch{
        display: block;
    }
    .intro.intro-xs{
        display: none;
    }
    .col-fixed {
        width: 250px !important;
    }
    .config-wrapper {
        display: none;
    }
    .header {
        height: 80px;
    }
    .header.navbar-fixed-top {
        position: fixed;
    }
    .header.scrolled {
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
        background: #fff;
        z-index: 1000;
        height: 80px;
        top: 0;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    .header.scrolled h1.logo a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color: #f87a00;
        background: #fff;
        padding-left: 0;
        padding-top: 25px;
    }
    .header.scrolled .main-nav .nav .nav-item a {
        color: #666666;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
    .header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
        background: #f87a00;
        border-color: #f87a00;
    }
    .header.scrolled .main-nav .nav .dropdown-menu a {
        color: #fff;
    }
    .main-nav {
        float: right !important;
    }
    .navbar-form .form-control {
        width: 280px;
    }
    .header h1.logo {
        float: left;
        margin: inherit;
    }
    .header .main-nav .nav .nav-item {
        margin-right: 15px;
    }
    .main-nav.navbar-right {
        float: right !important;
    }
    .promo {
        height: 620px;
        padding-top: 200px;
    }
    .promo.section .intro {
        margin-bottom: 45px;
    }
    .promo .btn-link {
        margin-top: 15px;
    }
    .why .item .content {
        margin-bottom: 60px;
    }
    .why .control {
        top: 128px;
        margin-left: -45px;
    }
    .why .item .title {
        margin-bottom: 30px;
        text-align: center;
    }
    .apps-section .phone-holder {
        -webkit-background-size: 280px auto;
        -moz-background-size: 280px auto;
        -o-background-size: 280px auto;
        background-size: 280px auto;
    }
    .apps-section .phone-holder .screenshot {
        width: 242px;
        top: 66px;
    }
    .footer-col {
        margin-bottom: 30px;
    }
    .modal.modal-video .modal-dialog {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .access-page .navbar-collapse.collapse .navbar-nav {
        display: none;
    }
    .features-video {
        padding-top: 90px;
    }
    .pricing {
        padding-top: 90px;
    }
    .apps-section {
        padding-top: 80px;
    }
    .story-section {
        padding-top: 90px;
    }
    .contact-section {
        padding-top: 45px;
    }

    .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col-fixed {
        /* custom width */
        width:320px !important;
    }

    .config-wrapper {
        display: block;
    }
    .header {
        height: 80px;
    }
    .header.navbar-fixed-top {
        position: fixed;
    }
    .header.scrolled {
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
        background: #fff;
        z-index: 1000;
        height: 80px;
        top: 0;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    .header.scrolled h1.logo a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color: #f87a00;
        background: #fff;
        padding-left: 0;
        padding-top: 25px;
    }
    .header.scrolled .main-nav .nav .nav-item a {
        color: #666666;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
    .header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
        background: #f87a00;
        border-color: #f87a00;
    }
    .header.scrolled .main-nav .nav .dropdown-menu a {
        color: #fff;
    }
    .main-nav {
        float: right !important;
    }
    .navbar-form .form-control {
        width: 280px;
    }
    .header h1.logo {
        float: left;
        margin: inherit;
    }
    .header .main-nav .nav .nav-item {
        margin-right: 15px;
    }
    .main-nav.navbar-right {
        float: right !important;
    }
    .promo {
        height: 620px;
        padding-top: 200px;
    }
    .promo.section .intro {
        margin-bottom: 45px;
    }
    .promo .btn-link {
        margin-top: 15px;
    }
    .why .item .content {
        margin-bottom: inherit;
    }
    .why .control {
        top: 128px;
        margin-left: -28px;
    }
    .modal.modal-video .modal-dialog {
        width: 760px;
        padding-left: 0;
        padding-right: 0;
    }
    .access-page .navbar-collapse.collapse .navbar-nav {
        display: none;
    }
    .access-section .divider {
        text-align: center;
        margin-bottom: 30px;
        color: #999999;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    .access-section .divider span {
        background: #fff;
        display: inline-block;
        padding: 10px 0;
        position: relative;
        top: 80px;
        margin-left: -10px;
    }
    .access-section .divider:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #e5e5e5;
        height: 100%;
        width: 1px;
    }
    .access-section .social-btns {
        padding-left: 65px;
    }
    .access-section .social-btns .note {
        text-align: left;
    }
    .why .item .title {
        margin-bottom: 15px;
        text-align: left;
    }
    .why .figure {
        text-align: left;
    }
    .blog-page .header-blog {
        position: fixed;
    }
    .blog-page .blog-category,
    .blog-page .blog-archive {
        margin-top: 80px;
    }
    /* Only show QR code for desktop */
    .download-area {
        overflow: hidden;
    }
    .download-area .download-list {
        float: left;
    }
    .download-area .qrcode-holder {
        float: left;
        margin-left: 45px;
        text-align: center;
    }
    .download-area .qrcode-holder .qrcode {
        max-width: 140px;
        margin: 0 auto;
    }
    .download-area .qrcode-holder .qrcode .caption {
        font-size: 12px;
        background: #fff;
        padding: 0 15px;
        padding-bottom: 15px;
        color: #253340;
        font-family: arial, sans-serif;
    }
    .navbar-fixed-top .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
    .features-video {
        padding-top: 170px;
    }
    .pricing {
        padding-top: 170px;
    }
    .apps-section {
        padding-top: 160px;
    }
    .story-section {
        padding-top: 170px;
    }
    .contact-section {
        padding-top: 125px;
    }
    .bg-slider-wrapper {
        position: fixed;
    }
}