/* ======= Search Box markup ======= */
.searchbox-icon,
.searchbox-submit {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 2.4;
    text-align: center;
    /*cursor: pointer;*/
    color: #f9a842;
    /*background: #fff;*/
}
.searchbox-icon:hover {
    color: #f79210;
}
.searchbox-submit {
    font-size: 14px;
    font-family: arial, sans-serif;
}
.searchbox-container {
    width: 100%;
}
.searchbox-container .searchbox {
    position: relative;
    display: inline-block;
    height: 38px;
    width: 100%;
    float: right;
    top: -50px;
    right: 0;
    /* new */
    min-width: 38px;
    width: 0%;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}
.searchbox-container .searchbox.searchbox-open {
    width: 100%;
}
.searchbox-container .searchbox.searchbox-open .searchbox-icon,
.searchbox-container .searchbox.searchbox-open .searchbox-submit {
    background: #f87a00;
    color: #fff;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.searchbox-container .searchbox .searchbox-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #f5f5f5;
    border: 1px solid #efefef;
    width: 100%;
    height: 38px;
    margin: 0;
    padding-left: 20px;
    font-size: 13px;
}
.searchbox-container .searchbox .searchbox-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #a6a6a6;
}
.searchbox-container .searchbox .searchbox-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #a6a6a6;
}
.searchbox-container .searchbox .searchbox-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #a6a6a6;
}
.searchbox-container .searchbox .searchbox-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #a6a6a6;
}