/* ======= Slider markup ======= */
/* - Promo (text) */
/* - Headline backgrounds + slideshow */

/* Headline Background & Slideshow */
.bg-slider-wrapper {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 780px;
    background: #373737;
}
.bg-slider-wrapper .flexslider {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.bg-slider-wrapper .flexslider .slide {
    display: block;
    height: 780px;
}
.bg-slider-wrapper .flexslider .slide.slide-1 {
    background: #253340 url('/bundles/app/img/background/bg-header-1.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-2 {
    background: #253340 url('/bundles/app/img/background/bg-header-2.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-3 {
    background: #253340 url('/bundles/app/img/background/bg-header-3.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-slider-wrapper .flexslider .flex-control-nav {
    z-index: 30;
    bottom: 30px;
    position: relative;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a {
    background: #999999;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
    background: #bfbfbf;
}
.headline-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 510px;
    background: #253340 url('/bundles/app/img/background/bg-header-small-1-1.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headline-bg.pricing-headline-bg {
    background-image: url('/bundles/app/img/background/bg-header-small-2.jpg');
}
.headline-bg.contact-headline-bg {
    background-image: url('/bundles/app/img/background/bg-header-small-5.jpg');
}
.headline-bg.about-headline-bg {
    background-image: url('/bundles/app/img/background/bg-header-small-4.jpg');
}

/* ======= Blog slider markup ======= */
.blog-slider {
    margin-bottom: 0;
    margin-top: 0;
    border: none;
    height: 620px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.blog-slider .slide {
    display: block;
    height: 620px;
    background-color: #253340;
}
.blog-slider .slide:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.11);
    z-index: 10;
}
.blog-slider .slide.slide-1 {
    background: #253340 url('/bundles/app/img/home/bg-header-1-1.jpg') no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blog-slider .slide.slide-2 {
    background: #253340 url('/bundles/app/img/home/bg-header-2.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blog-slider .slide.slide-3 {
    background: #253340 url('/bundles/app/img/home/bg-header-3.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blog-slider .flex-control-nav {
    bottom: 15px;
    z-index: 10;
}
.blog-slider .flex-control-nav li a {
    background: #5e5e5e;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.blog-slider .flex-control-nav li a.flex-active {
    background: #fff;
}
.blog-slider .flex-direction-nav a {
    text-shadow: none;
    color: #fff;
    position: absolute;
    width: 30px;
    height: 50px;
    display: block;
}
.blog-slider .flex-direction-nav a.flex-prev {
    left: 5%!important;
}
.blog-slider .flex-direction-nav a.flex-prev:before {
    content: "";
    text-indent: -9999px;
    background: url('/bundles/app/img/flexslider/carousel-arrow-prev.png') no-repeat left top;
    display: block;
    width: 30px;
    height: 50px;
}
.blog-slider .flex-direction-nav a.flex-next {
    right: 5%!important;
}
.blog-slider .flex-direction-nav a.flex-next:before {
    content: "";
    text-indent: -9999px;
    background: url('/bundles/app/img/flexslider/carousel-arrow-next.png') no-repeat right top;
    display: block;
    width: 30px;
    height: 50px;
}
.blog-slider:hover .flex-prev {
    left: 5%!important;
}
.blog-slider:hover .flex-next {
    right: 5%!important;
}
.blog-slider .flex-caption {
    padding-top: 0;
    position: relative;
    z-index: 20;
    text-align: center;
    color: #fff;
}
.blog-slider .flex-caption a {
    color: #fff;
}
.blog-slider .flex-caption .title {
    font-size: 42px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 0;
}
.blog-slider .flex-caption .title a:hover {
    text-decoration: none;
}
.blog-slider .flex-caption .meta {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    margin-bottom: 30px;
}
.blog-slider .flex-caption a.more-link {
    color: #fff;
}
.blog-slider .flex-caption a.more-link:hover {
    color: #f87a00;
}

.compact-slider {
    margin-bottom: 0;
    margin-top: 0;
    border: none;
    height: 510px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.compact-slider .slide {
    display: block;
    height: 510px;
    background-color: #253340;
}
.compact-slider .slide:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.11);
    z-index: 10;
}
.compact-slider .slide.slide-1 {
    background: #253340 url('/bundles/app/img/background/bg-header-small-2.jpg') no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.compact-slider .slide.slide-2 {
    background: #253340 url('/bundles/app/img/blog/post-2.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.compact-slider .slide.slide-3 {
    background: #253340 url('/bundles/app/img/blog/post-3jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.compact-slider .flex-control-nav {
    bottom: 15px;
    z-index: 10;
}
.compact-slider .flex-control-nav li a {
    background: #5e5e5e;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.compact-slider .flex-control-nav li a.flex-active {
    background: #fff;
}
.compact-slider .flex-direction-nav a {
    text-shadow: none;
    color: #fff;
    position: absolute;
    width: 30px;
    height: 50px;
    display: block;
}
.compact-slider .flex-direction-nav a.flex-prev {
    left: 5%!important;
}
.compact-slider .flex-direction-nav a.flex-prev:before {
    content: "";
    text-indent: -9999px;
    background: url('/bundles/app/img/flexslider/carousel-arrow-prev.png') no-repeat left top;
    display: block;
    width: 30px;
    height: 50px;
}
.compact-slider .flex-direction-nav a.flex-next {
    right: 5%!important;
}
.compact-slider .flex-direction-nav a.flex-next:before {
    content: "";
    text-indent: -9999px;
    background: url('/bundles/app/img/flexslider/carousel-arrow-next.png') no-repeat right top;
    display: block;
    width: 30px;
    height: 50px;
}
.compact-slider:hover .flex-prev {
    left: 5%!important;
}
.compact-slider:hover .flex-next {
    right: 5%!important;
}
.compact-slider .flex-caption {
    padding-top: 90px;
    position: relative;
    z-index: 20;
    text-align: center;
    color: #fff;
}
.compact-slider .flex-caption a {
    color: #fff;
}
.compact-slider .flex-caption .title {
    font-size: 42px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 0;
}
.compact-slider .flex-caption .title a:hover {
    text-decoration: none;
}
.compact-slider .flex-caption .meta {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    margin-bottom: 30px;
}
.compact-slider .flex-caption a.more-link {
    color: #fff;
}
.compact-slider .flex-caption a.more-link:hover {
    color: #f87a00;
}
/* Promo markup */
.promo {
    padding-top: 120px;
    position: relative;
    color: #fff;
    margin-bottom: 80px;
    height: 620px;
    z-index: 10;
}
.promo .title {
    font-size: 46px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.promo.section .intro {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.promo .btn-cta {
    font-size: 18px;
}
.promo .btn-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    text-decoration: none;
}
.promo .btn-link:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    text-decoration: none;
}
.promo .btn-link:focus {
    outline: none;
}
.promo .btn-link .fa {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;
}

@media screen and (min-width: 1441px ) {
    .blog-slider .slide.slide-1 {
        background: #253341 url('/bundles/app/img/home/bg-header-1-1-wide.jpg') no-repeat top left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
