/* ======= Download markup ======= */
.download-page .headline-bg {
    height: 1200px;
    background: #253340 url('../bundles/app/img/background/bg-mobile-headline.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.apps-section {
    min-height: 900px;
    padding-top: 160px;
}
.apps-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
}
.apps-section .intro {
    text-align: left;
    margin-bottom: 60px;
}
.apps-section .phone-holder {
    width: 324px;
    height: 651px;
    display: block;
    background: url('../bundles/app/img/mobile/iphone.png') no-repeat left top;
    position: relative;
}
.apps-section .phone-holder .screenshot {
    position: absolute;
    left: 21px;
    top: 75px;
}
.apps-section .content-area .download-list li {
    margin-bottom: 15px;
}
.apps-section .content-area .download-list li .btn {
    width: 220px;
    text-align: left;
}
.apps-section .content-area .info {
    margin-top: 60px;
    margin-bottom: 60px;
    background: rgba(31, 51, 64, 0.8);
    padding: 30px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.apps-section .content-area .info .title {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
}
