/* ======= FAQ markup ======= */
.faq {
    background: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 120px;
}
.faq .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 60px;
}
.faq .panel {
    background: #fff;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.faq .panel:hover {
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
}
.faq .panel .panel-heading {
    padding: 15px 30px;
}
.faq .panel .panel-body {
    padding: 30px;
    padding-top: 0;
    color: #666666;
}
.faq .panel .panel-title {
    font-weight: normal;
    color: #666666;
}
.faq .panel .panel-title a {
    text-decoration: none;
}
.faq .panel .panel-title .active {
    color: #f87a00;
}
.faq .panel .panel-title .panel-toggle .fa {
    margin-right: 10px;
    color: #fab45a;
}
.faq .panel .panel-title:hover .fa {
    color: #f87a00;
}
.faq .contact-lead {
    margin-top: 60px;
}
.faq .contact-lead .title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    color: #999999;
}
