/* ======= Features tabs markup ======= */
.features-tabbed {
    padding-top: 80px;
    padding-bottom: 80px;
}
.features-tabbed .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 60px;
}
.features-tabbed .tab-content {
    padding: 60px 30px;
}
.features-tabbed .tab-content .title {
    font-size: 16px;
    color: #fab45a;
    font-weight: bold;
    margin-bottom: 30px;
}
.features-tabbed .tab-content .desc {
    margin-bottom: 30px;
    color: #666666;
}
.features-tabbed .tab-content .desc ul {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.features-tabbed .tab-content .desc ul li {
    margin-bottom: 10px;
}
.features-tabbed .tab-content .desc ul .fa {
    color: #f87a00;
    margin-right: 5px;
}
.features-tabbed .tab-content .desc blockquote {
    font-style: italic;
    color: #808080;
}
.features-tabbed .tab-content .desc .table {
    font-size: 14px;
    padding: 15px 0;
}
.features-tabbed .tab-content .desc .box {
    background: #f5f5f5;
    padding: 30px;
    font-size: 14px;
}
.features-tabbed .tab-content .figure {
    margin-bottom: 60px;
}
.features-tabbed .tab-content .figure img {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}
.features-tabbed .tab-content .figure .figure-caption {
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
.features-tabbed .tab-content .figure .figure-caption a {
    color: #b3b3b3;
}
.features-tabbed .tab-content .figure .figure-caption a:hover {
    color: #f87a00;
}
.nav-tabs {
    border: none;
    margin: 0 auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    text-align: center;
    position: relative;
}
.nav-tabs:before {
    content: "";
    display: block;
    border-bottom: 1px solid #efefef;
    position: absolute;
    bottom: 0;
}
.nav-tabs > li {
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
    background: #fff;
    border: 1px solid #efefef;
    border-right: none;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}
.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 0px;
    color: #999999;
    padding: 15px 30px;
    font-size: 14px;
    background: #fafafa;
    border: none;
}
.nav-tabs > li > a .fa {
    font-size: 20px;
}
.nav-tabs > li > a:hover {
    background: #f5f5f5;
}
.nav-tabs > li.active {
    border-top-color: #f87a00;
    border-bottom-color: #fff;
}
.nav-tabs > li.active > a {
    color: #f87a00;
    background: #fff;
    -webkit-box-shadow: inset 0 3px 0 #f87a00;
    -moz-box-shadow: inset 0 3px 0 #f87a00;
    box-shadow: inset 0 3px 0 #f87a00;
    border: none;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
}
.nav-tabs > li.active:hover > a {
    border-top: 0;
    border: none;
    color: #f87a00;
}
.nav-tabs > li.last {
    border-right: 1px solid #efefef;
}

/* ======= Features video markup ======= */
.features-video {
    padding-top: 170px;
    position: relative;
    z-index: 10;
}
.features-video .title {
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 0;
    color: #fff;
    font-weight: 300;
}
.features-video .video-container {
    max-width: 800px;
    margin: 0 auto;
}
.features-video iframe {
    background: #fff;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
