/* ======= Map markup ======= */
.map-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.map-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}
.map-section .gmap-wrapper {
    padding: 10px;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.map-section .gmap {
    height: 400px;
    text-align: left;
    font-weight: normal;
}
.map-section .gmap,
.map-section .gmap *,
.map-section .gmap *:before,
.map-section .gmap *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.map-section .gmap .title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 5px;
}
.map-section .gmap .gm-style-iw {
    width: 150px;
}