/* ======= Press markup ======= */
.press {
    padding-top: 80px;
    padding-bottom: 80px;
}
.press .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 60px;
}
.press .press-list {
    margin-bottom: 15px;
    text-align: center;
}
.press .press-list.last {
    margin-bottom: 60px;
}
.press .press-list li {
    display: block;
    height: 80px;
}
.press .press-list li img {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.press .press-list li:hover img {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.press .press-lead .title {
    font-size: 18px;
    margin-bottom: 15px;
}