/* ======= Pricing markup ======= */
.pricing {
    padding: 80px 0;
    padding-top: 170px;
    position: relative;
    z-index: 10;
}
.pricing .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
}
.pricing .intro {
    color: #fff;
    margin-bottom: 80px;
}
.pricing .item {
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}
.pricing .item.best-buy {
    top: -15px;
    z-index: 11;
    position: relative;
}
.pricing .item.best-buy .item-inner {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pricing .item.best-buy .item-inner:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.pricing .item.best-buy .heading {
    padding-top: 45px;
}
.pricing .item.best-buy .content {
    padding-bottom: 45px;
}
.pricing .item .item-inner {
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    border: 1px solid #efefef;
}
.pricing .item .item-inner:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pricing .item .heading {
    margin-top: 0;
    padding: 30px 15px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.pricing .item .heading .title {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px dashed #efefef;
    color: #444444;
}
.pricing .item .content {
    padding: 30px 15px;
    padding-top: 0;
    font-size: 14px;
}
.pricing .item .price-figure {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 auto;
}
.pricing .item .price-figure .number {
    font-size: 42px;
    font-weight: bold;
}
.pricing .item .price-figure .unit {
    font-weight: 400;
    color: #b3b3b3;
}
.pricing .item .price-figure .currency {
    top: -12px;
    right: 2px;
    position: relative;
    font-family: arial, sans-serif;
    color: #666666;
    font-size: 18px;
}
.pricing .item .ribbon {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.pricing .item .ribbon .text {
    position: relative;
    left: -8px;
    top: 18px;
    width: 158px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #5d80a1;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
}
.pricing .item .ribbon .text:before,
.pricing .item .ribbon .text:after {
    content: '';
    position: absolute;
    bottom: -5px;
    border-top: 5px solid #2e4050;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.pricing .item .ribbon .text:before {
    left: 0;
}
.pricing .item .ribbon .text:after {
    right: 0;
}
.pricing .item .feature-list {
    margin-bottom: 30px;
}
.pricing .item .feature-list li {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
}
.pricing .item .feature-list li .fa {
    margin-right: 5px;
    color: #4a6781;
}
.pricing .item .feature-list li.disabled {
    color: #999999;
}
.pricing .item .feature-list li.disabled .fa {
    color: #999999;
}