/* ======= Steps markup ======= */
.steps {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}
.steps .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    /*margin-bottom: 60px;*/
}
.steps .step {
    padding: 30px 20px;
    color: #666666;
}
.steps .step .title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}
.steps .step .title .number {
    width: 90px;
    height: 90px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    background: #f87a00;
    border: 5px solid #e4e4e4;
    color: #fff;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 26px;
    font-weight: bold;
    font-family: arial, sans-serif;
    margin-bottom: 10px;
}
.steps .step .title .text {
    color: #fab45a;
    font-weight: bold;
    font-size: 17px;
}
.steps .btn-cta-primary {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}
