/* ======= Story markup ======= */
.story-section {
    padding-top: 165px;
    position: relative;
    z-index: 10;
}
.story-section .title {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
    font-weight: 300;
}
.story-container{
    margin-top: 107px;
    width: 100% !important;
}
.story-section .story-container-inner {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
}

.story-section .about {
    padding: 30px;
}
.story-section .belife {
    border-color: #fab45a;
    padding: 15px 30px;
    font-family: 'Roboto slab', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    margin: 60px 30px;
    color: #666666;
}
.story-section .press-kit {
    padding-top: 60px;
    padding-bottom: 60px;
}
.story-section .press-kit .title {
    color: #444444;
}
.story-section .team {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}
.story-section .team .title {
    color: #444444;
    font-size: 28px;
}
.story-section .team .member {
    margin-bottom: 30px;
}
.story-section .team .member .member-inner {
    background: #253340;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    /*-webkit-transition: all 0.4s ease-in-out;*/
    /*-moz-transition: all 0.4s ease-in-out;*/
    /*-ms-transition: all 0.4s ease-in-out;*/
    /*-o-transition: all 0.4s ease-in-out;*/
    text-align: center;
}
.story-section .team .member .member-inner img {
    margin: 0 auto;
}
.story-section .team .member .member-inner:hover img {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.story-section .team .member .member-inner:hover .social {
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;

}
.story-section .team .member .profile {
    background: #253340;
    color: #fff;
    text-align: center;
}

.story-section .team .member .profile img{
    width: 700px;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}
.story-section .team .member .profile .info {
    padding: 15px 0;
}
.story-section .team .member .profile .name {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    font-size: 18px;
}
.story-section .team .member .profile .job-title {
    color: #fff;
    font-size: 14px;
}
.story-section .team .member .social {
    width: 100%;
    top: 50%;
    position: absolute;
}
.story-section .team .member .member-inner ul li a {
    -webkit-opacity: 0.0;
    -moz-opacity: 0.0;
    opacity: 0.0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.story-section .team .member .member-inner:hover ul li a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.story-section .team .member .member-inner:hover ul li a:hover {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.story-section .team .member .social-list {
    display: inline-block;
    margin: 0 auto;
}
.story-section .team .member .social-list a {
    color: #fff;
    background: #253340;
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.story-section .team .member .social-list a .fa {
    padding-top: 10px;
    font-size: 18px;
}
.story-section .team .member .social-list a:hover {
    background: #f87a00;
}

.story-section .experience {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}