/* =======  markup ======= */
.timeline {
    list-style: none;
    padding: 34px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 43%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #f87a00;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-normal{
    z-index: 10;
}

.timeline > li.timeline-inverted{
    z-index: 20;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

.timeline-title a {
    line-height: 25px;
}

div.timeline-body > p{
    margin-bottom: 0;
}

.timeline-title p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


@media (min-width: 768px) and (max-width: 991px){
    #experience > ul > li.timeline-inverted.first{
        margin-top: calc(19% * -1);
    }
    .timeline-inverted:not(:first-child){
        margin-top: calc(13.6% * -1);
    }
    .timeline-normal:not(:first-child) {
        margin-top: calc(29% * -1);
    }
}

@media (min-width: 992px){
    #experience > ul > li.timeline-inverted.first{
        margin-top: calc(15% * -1);
    }
    .timeline-inverted:not(:first-child){
        margin-top: calc(7.6% * -1);
    }
    .timeline-normal:not(:first-child) {
        margin-top: calc(19% * -1);
    }
}