/* ======= Why markup ======= */
.why {
    padding-top: 80px;
    padding-bottom: 80px;
}
.why .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
}
.why .intro {
    color: #999999;
    margin-bottom: 30px;
    font-size: 18px;
}
.why .item {
    padding: 90px 0;
    border-bottom: 1px solid #efefef;
}
.why .item.last-item {
    border-bottom: none;
}
.why .item .title {
    font-size: 26px;
    color: #4a6781;
    margin-top: 0;
    margin-bottom: 15px;
}
.why .item .desc {
    margin-bottom: 60px;
}
.why .item .desc .fa {
    margin-right: 5px;
}
.why .item .quote {
    position: relative;
}
.why .item .quote .quote-profile {
    position: absolute;
    left: 0;
}
.why .item .quote .quote-content {
    margin-left: 90px;
    background: #f5f5f5;
    border-left: 4px solid #e8e8e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
    padding: 15px;
}
.why .item .quote .quote-content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e8e8e8;
    position: absolute;
    left: 80px;
    top: 25px;
}
.why .item .quote blockquote {
    border-left: none;
    font-style: italic;
    color: #666666;
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
}
.why .item .quote .source {
    color: #999999;
    font-size: 13px;
    margin-bottom: 0;
}
.why .item .quote .source a {
    color: #999999;
}
.why .item .quote .source a:hover {
    color: #808080;
}
.why .figure {
    position: relative;
    text-align: center;
}
.why .figure .figure-caption {
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
.why .figure .figure-caption a {
    color: #b3b3b3;
}
.why .figure .figure-caption a:hover {
    color: #f87a00;
}
.why .figure img {
    margin-left: auto;
    margin-right: auto;
}
.why .control {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -65px;
}
.why .control .play-trigger {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 60px;
    height: 60px;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 auto;
    text-align: center;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.why .control .play-trigger:active,
.why .control .play-trigger:focus {
    outline: none;
}
.why .control .play-trigger:hover {
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}
.why .control .play-trigger:hover .fa {
    cursor: pointer;
}
.why .control .play-trigger .fa {
    font-size: 26px;
    position: relative;
    left: 2px;
}
.why .feature-lead .title {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
}
