{% extends '::base.html.twig' %}
{% set pageTitle = "Peter Knijff - Developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets
filter='cssrewrite'
    '@story_css'
    '@timeline_css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body_content %}
<div class="headline-bg about-headline-bg"></div>
<section class="story-section section section-on-bg">
    <h2 class="title container text-center">Over Mij</h2>
    <p class="intro text-center" style="padding: 0 15px;">{{ aboutme.slogan }}</p>
    <div class="story-container container text-center">
        <div class="story-container-inner" >
            <div class="team row">
                <div class="member col-md-4 col-sm-4 col-xs-12">
                    <div class="member-inner">
                        <figure class="profile">
                            <img class="img-responsive" src="{{ vich_uploader_asset(aboutme, 'imageFile') }}" alt="Foto van {{ aboutme.title }}">
                            <figcaption class="info">
                                <span class="name">{{ aboutme.title }}</span>
                                <br />
                                <span class="job-title">{{ aboutme.subtitle }}</span>
                            </figcaption>
                        </figure>
                        <div class="social">
                            <ul class="social-list list-inline">
                                <li>
                                    <a href="{{ aboutme.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-left col-md-8 col-sm-8 col-xs-0">
                {{ aboutme.description|raw }}
                </div>
            </div>
            <div id="experience" class="press-kit text-center experience">
                <h2 class="title">Werkervaring</h2>
                <p>Een veelzijdige werkervaring zorgt ervoor dat ik van alle markten thuis ben. <br /> SCRUM meetings? Presentatie geven? Klant bellen? Gave digitale media maken? Geen probleem!</p>
                <div class="page-header"></div>
                <ul class="timeline">
                    {% for experience in experiences %}
                        <li class="{% if loop.index is odd %}timeline-normal{% else %}timeline-inverted{% endif %} {% if loop.index <= 2 %}first{% endif %}">
                            <div class="timeline-badge"><i class="fa fa-thumb-tack"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{ experience.title }}
                                        {% if experience.client is not null %} @ <br /> <a href="{{ experience.client.url }}" target="_blank">{% endif %} {{ experience.client }}</a>
                                    </h4>
                                    <h4 class="timeline-title timeline-title-xs">{{ experience.title }}
                                        {% if experience.client is not null %} @ <a href="{{ experience.client.url }}" target="_blank">{% endif %} {{ experience.client }}</a>
                                    </h4>
                                    <p>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i>{% if date(experience.dateStart).diff(date(experience.dateEnd)).days == 1 %} Sinds {{ experience.datestart|date('m-Y') }} {% elseif experience.dateStart != experience.dateEnd %} {{ experience.datestart|date('m-Y') }} - {{ experience.dateEnd|date('m-Y') }} {% else %} {{ experience.dateEnd|date('m-Y') }} {% endif %}</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>{{ experience.subtitle }}</p>
                                    {% if experience.project is not null %}<hr><a class="btn btn-cta btn-cta-secondary" href="{{ url('project', {'slug': experience.project.slug }) }}">Bekijk project</a>{% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra %}
{% include('@App/includes/contact-me.html.twig') %}
{% endblock %}