{% extends '::base.html.twig' %}
{% set pageTitle = "Peter Knijff - Developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets
filter='cssrewrite'
    'css/contact_page.css'
    'css/maps.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body_content %}
<!-- Header -->
<div class="headline-bg contact-headline-bg"></div>
<section class="contact-section section section-on-bg">
    <div class="container">
        <h2 class="title text-center">Contact</h2>
        <p class="intro text-center">Ideeën uitwisselen, feedback geven, feedback vragen, of misschien wel samenwerken? <br /> Neem gerust contact met mij op! </p>
        <!-- Contact form -->
        {#{{ form_start(form) }}#}

        {#<div>#}
            {#{{ form_widget(form.subject) }}#}
            {#{{ form_errors(form.subject) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(form.name) }}#}
            {#{{ form_errors(form.name) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(form.email) }}#}
            {#{{ form_errors(form.email) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(form.message) }}#}
            {#{{ form_errors(form.message) }}#}
        {#</div>#}

        {# Render CSRF token etc .#}
        {#<div style="display:none">#}
            {#{{ form_rest(form) }}#}
        {#</div>#}
        {#<input type="submit" value="Submit">#}
        {#{{ form_end(form) }}#}
        <form id="contact-form" class="contact-form" method="post" action="">
            <div class="row text-center">
                <div class="contact-form-inner col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="sr-only" for="cname">Naam</label>
                            <input type="text" class="form-control" id="cname" name="name" placeholder="Naam" minlength="2" required>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label class="sr-only" for="cemail">Email</label>
                            <input type="email" class="form-control" id="cemail" name="email" placeholder="E-mail" required>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <label class="sr-only" for="cmessage">Bericht</label>
                            <textarea class="form-control" id="cmessage" name="message" placeholder="Vertel, wat kan ik voor je betekenen?" rows="12" required></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Verstuur</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="form-messages"></div>
        </form>
    </div>
</section>
<!-- Contact details -->
<section class="contact-other-section section">
    <div class="container text-center">
        <h2 class="title">Mail, bel of app, stay connected!</h2>
        <p class="intro"> </p>
        <div class="row">
            <ul class="other-info list-unstyled col-md-6 col-sm-10 col-xs-12 col-md-offset-3 col-sm-offset-1 xs-offset-0" >
                <li><i class="fa fa-envelope-o"></i><a href="mailto:{{ aboutme.email }}">{{ aboutme.email }}</a></li>
                <li><i class="fa fa-linkedin"></i><a href="{{ aboutme.linkedIn }}" target="_blank">{{ aboutme.title }} op Linkedin</a></li>
                <li><i class="fa fa-phone"></i><a href="tel:{{ aboutme.phone }}">{{ aboutme.phone }}</a></li>
                <li><i class="fa fa-map-marker"></i>{{ aboutme.address|raw }}</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
{% block extra %}
{% include "@App/includes/more-experiences.html.twig" %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
{% javascripts output='js/contactpage.js'
    'js/validation.js'
    'js/maps.js'
    'js/contact_page.js'
%}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
{% endblock %}