{% extends '::base.html.twig' %}
{% set pageTitle = "Peter Knijff - Developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets
    filter='cssrewrite'
    '@index_css'
    '@why_css'
    '@testimonials_css'
    '@features_css'
    '@steps_css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body_content %}
<section class="section index">
    <div class="flexslider blog-slider">
        <ul class="slides">
            <li class="slide slide-1">
                <div class="flex-caption container">
                    <div class="flex-container-inner" >
                        <h2 class="title">Hoera, afgestudeerd!</h2>
                        <ul class="beentheredonethat">
                            <li class="check">Diploma MT</li>
                            <li class="check">Welverdiende reis</li>
                            <li class="uncheck">Uitdagende functie</li>
                        </ul>
                    </div>
                    <p class="readmore">
                        <a href="{{ url('about') }}">Lees meer...</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Introduction -->
<section id="bezigheden" class="steps section">
    <div class="container">
        <h2 class="title text-center">Even kort voorstellen</h2>
        <p class="intro intro-switch text-center">Ik ben Peter, 27 jaren jong en woon in de prachtige stad Rotterdam.<br />Ik ontwikkel te gekke digitale media, ik weet als geen ander raad met:</p>
        <p class="intro intro-xs text-center">Ik ben Peter, 27 jaren jong en woon in de prachtige stad Rotterdam. Ik ontwikkel te gekke digitale media, ik weet als geen ander raad met:</p>
        <div class="row">
            <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                <h3 class="title"><span class="number"><i class="fa fa-laptop"></i></span><br />
                    <span class="text">Webdevelopment <br />(front- &amp; backend)</span>
                    <span class="text text-xs">Webdevelopment (front- &amp; backend)</span>
                </h3>
                <p>Een online dashboard waar verhuurartikelen eenvoudig en overzichtelijk beheerd kunnen worden. Een API biedt aansluiting voor uitwisseling van informatie met externe apps.</p>
            </div>
            <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                <h3 class="title"><span class="number"><i class="fa fa-mobile"></i></span><br />
                    <span class="text">Mobile development <br /> (iOS &amp; android)</span>
                    <span class="text text-xs">Mobile development (iOS &amp; android)</span>
                </h3>
                <p>Een app op je smartphone waarmee artikelen van een voorraad-beheersysteem in- of uit gecheckt gekunnen worden, het scannen van de barcode met de camera automatiseert dit proces.</p>
            </div>
            <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                <h3 class="title"><span class="number"><i class="fa fa-plug"></i></span><br />
                    <span class="text">Hardware prototyping <br /> (Internet of things)</span>
                    <span class="text text-xs">Hardware prototyping (Internet of things)</span>
                </h3>
                <p>Het schakelen en openen van een poort via een smartphone? Het meten van bewegingen in de sportschool of een incheck systeem voor festivalbezoekers.</p>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-cta btn-cta-primary" href="{{ url('portfolio') }}">Bekijk projecten</a>
        </div>
    </div>
</section>
{% endblock %}
{% block extra %}
{% include "@App/includes/more-experiences.html.twig" %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts output='js/home.js'
    'js/flexsliderconfig.js'
%}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
{% endblock %}