{% extends '::base.html.twig' %}
{% set pageTitle = "Peter Knijff - Developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
    'css/portfolio_page.css'
    '@why_css'
    '@testimonials_css'
    '@features_css'
    '@steps_css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body_content %}
<!-- Header -->
<section class="section">
    <div class="flexslider compact-slider" style="height:450px;">
        <ul class="slides">
            <li class="slide slide-1" style="height: 450px; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                <div class="flex-caption container">
                    <h2 class="title">Werk waar ik trots op ben!</h2>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Filter -->
<section class="section filter-container" style="height:60px;width:100%;background-color: #253340;margin-bottom:60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="filter-projects" class="row" method="post" action="">
                    <select name="category[]" class="filter hasCustomSelect">
                        <option class="selected" selected="selected" value="*">Alle projecten ({{ projects|length }})</option>
                        {% for category, values in categoriesCount %}
                            <option value=".{{ values.slug }}">{{ category }} ({{ values.count }})</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Projects -->
<section>
    <div class="blog container">
        <div class="row">
            <div id="blog-mansonry" class="blog-list project-list">
                {% for project in projects %}
                <article class="post col-md-4 col-sm-6 col-xs-12 project-item {% for category in project.categories %} {{ category.slug }} {% endfor %}" data-category="{% for category in project.categories %} {{ category.slug }} {% endfor %}">
                    <div class="post-inner">
                        <figure class="post-thumb">
                            <a href="{{ path('project', {'slug': project.slug}) }}">
                                <img class="img-responsive" src="{% if vich_uploader_asset(project, 'thumbFile') != null %}{{ vich_uploader_asset(project, 'thumbFile')|imagine_filter('project_thumbnail') }}{% else %} http://via.placeholder.com/600x320{% endif %}" alt="{{ project.title }}" />
                            </a>
                        </figure>
                        <div class="content">
                            <h3 class="post-title">
                                <a href="{{ path('project', {'slug': project.slug}) }}">{{ project.title }}</a>
                            </h3>
                            <div class="post-entry">
                                <p>{{ project.subtitle }}</p>
                                <a class="read-more" href="{{ url('project', {'slug': project.slug }) }}">Lees meer...</a>
                            </div>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-category">In {% for category in project.categories %} <a href="#filter=.{{ category.slug }}">{{ category.title }}</a>  {% if project.categories|length > 1 and loop.index != project.categories|length %} en {% endif %} {% endfor %}</li>
                                    <li class="post-time post_date date updated">{{ project.datetime|date('F - Y') }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra %}
{% include "@App/includes/contact-me.html.twig" %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts output='js/portfoliopage.js'
    'js/portfolio_page.js'
%}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
{% endblock %}