{% extends '::base.html.twig' %}
{% set pageTitle = "Peter Knijff - Developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    filter='cssrewrite'
    'css/project_page.css'
    '@why_css'
    '@testimonials_css'
    '@features_css'
    '@steps_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style type="text/css">
        .project-slide{
            background: linear-gradient(rgba(37,51,64,.7), rgba(37,51,64, .7)), url({{ vich_uploader_asset(project, 'sliderFile') }}) no-repeat {{ project.css }};
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 510px;
        }
    </style>
{% endblock %}
{% block body_content %}
<section id="slider-section" class="section" style="position: relative;">
    <div class="flexslider compact-slider text-center">
        <ul class="slides">
            <li class="slide project-slide">
                <div class="flex-caption container">
                    <div class="flex-container-inner">
                        <h2 class="title" style="margin-top:-50px;">{{ project.title }}</h2>
                        <p class="intro project-intro">Geplaatst in {% for category in project.categories %} <a href="{{ path('portfolio') }}#filter=.{{ category.slug }}">{{ category.title }}</a>  {% if project.categories|length > 1 and loop.index != project.categories|length %} en {% endif %} {% endfor %}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <nav class="post-nav post-nav-top">
        <span class="nav-previous"><a href="{{ path('project', {'slug': previous.slug}) }}" rel="prev"><i class="fa fa-long-arrow-left"></i>Vorig project</a></span>
        <span class="nav-next"><a href="{{ path('project', {'slug': next.slug}) }}" rel="next">Volgend project<i class="fa fa-long-arrow-right"></i></a></span>
    </nav>
</section>
<div class="blog-entry-wrapper">
    <div class="blog-entry">
        <article class="post">
            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                        {{ project.intro|raw }}
                        <h3 class="section-heading">Uitdaging</h3>
                        {{ project.challenge|raw }}
                        <h3 class="section-heading">Aanpak</h3>
                        {{ project.approach|raw }}
                    </div>
                </div>
            </div>
            {% if vich_uploader_asset(project, 'approachFile') is null %}
                <div class="container-full" style="margin: 45px 0 13px 0; width: 100%; padding:50px 0; background: linear-gradient(rgba(37,51,64,.7), rgba(37,51,64, .7)), url({{ vich_uploader_asset(project, 'sloganBgFile') }}) no-repeat center center; -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;">
                    <div class="container">
                        <div class="row row-client row-centered">
                            <div class="col-centered col-xs-12 col-sm-10 col-sm-8 col-md-810" style="text-align: center">
                                <h6 style="font-weight: 300; font-size: 25px; color: #fff; padding: 40px 0;"><span>{% if project.slogan is null %}{{ project.subtitle }}{% else %}{{ project.slogan }}{% endif %}</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row row-centered approach-gallery">
                        <a class="col-md-4 col-centered col-fixed approach-gallery__img--main" href="{{ vich_uploader_asset(project, 'approachFile') }}" data-size="1280x960" data-med="{{ vich_uploader_asset(project, 'approachFile') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                            <img class="photo-gallery img-responsive" src="{{ vich_uploader_asset(project, 'approachFile') }}" alt="" />
                            <figure class="gallery">{{ project.approachCaption }}</figure>
                        </a><a class="col-md-4 col-centered col-fixed approach-gallery__img--main" href="{{ vich_uploader_asset(project, 'approachFile1') }}" data-size="1280x960" data-med="{{ vich_uploader_asset(project, 'approachFile1') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                            <img class="photo-gallery img-responsive" src="{{ vich_uploader_asset(project, 'approachFile1') }}" alt="" />
                            <figure class="gallery">{{ project.approachCaption1 }}</figure>
                        </a><a class="col-md-4 col-centered col-fixed approach-gallery__img--main" href="{{ vich_uploader_asset(project, 'approachFile2') }}" data-size="1280x960" data-med="{{ vich_uploader_asset(project, 'approachFile2') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                            <img class="photo-gallery img-responsive" src="{{ vich_uploader_asset(project, 'approachFile2') }}" alt="" />
                            <figure class="gallery">{{ project.approachCaption2 }}</figure>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                        <h3 class="section-heading">Resultaat</h3>
                        {{ project.result|raw }}
                    </div>
                </div>
                <div class="row row-centered result-gallery">
                    <a class="col-md-4 col-centered col-fixed result-gallery__img--main" href="{{ vich_uploader_asset(project, 'resultFile') }}" data-size="1280x960" data-med="{{ vich_uploader_asset(project, 'resultFile') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                        <img class="photo-gallery img-responsive" src="{{ vich_uploader_asset(project, 'resultFile') }}" alt="" />
                        <figure class="gallery">{{ project.resultCaption }}</figure>
                    </a>
                    <a class="col-md-4 col-centered col-fixed result-gallery__img--main" href="{{ vich_uploader_asset(project, 'resultFile1') }}" data-size="1280x960" data-med="{{ vich_uploader_asset(project, 'resultFile1') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                            <img class="photo-gallery img-responsive" src="{{ vich_uploader_asset(project, 'resultFile1') }}" alt="" />
                            <figure class="gallery">{{ project.resultCaption1 }}</figure>
                        </a>
                    {% if 'youtube' in project.resultcaption2 %}
                        <a class="play-button col-md-4 col-centered col-fixed result-gallery__img--main" href="{{ vich_uploader_asset(project, 'resultFile2') }}" data-size="1280x960" data-video="{{ project.resultCaption2 }}" data-med="{{ vich_uploader_asset(project, 'resultFile2') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                            <img class="photo-gallery img-responsive"  src="{{ vich_uploader_asset(project, 'resultFile2') }}" alt="" />
                            <figure class="gallery">{{ project.resultCaption2 }}</figure>
                        </a>
                    {% else %}
                        <a class="col-md-4 col-centered col-fixed result-gallery__img--main" href="{{ vich_uploader_asset(project, 'resultFile2') }}" data-size="1280x960" data-med="{{ vich_uploader_asset(project, 'resultFile2') }}" data-med-size="1280x960" data-author="{{ project.title }}" >
                            <img class="photo-gallery img-responsive" src="{{ vich_uploader_asset(project, 'resultFile2') }}" alt="" />
                            <figure class="gallery">{{ project.resultCaption2 }}</figure>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="container-full container-end" style="margin: 45px 0 0 0; width: 100%; padding:50px 0; background: #ebebeb">
                <div class="container">
                    <div class="row row-client">
                        <div class="blog-entry-content client-logo col-md-1 col-md-offset-2 col-sm-6 col-xs-12" style="width: 12.499999995%; padding-right: 0;">
                            <div style="position: relative">
                                <img class="img-responsive" src="{{ vich_uploader_asset(project.client, 'imageFile') }}" alt="{{ project.client }} logo" style="margin-right: 0;">
                            </div>
                        </div>
                        <div class="blog-entry-content client-info col-md-2 col-sm-6 col-xs-12 col-sm-offset-1 col-xs-offset-0" style="border-right: solid 2px #cacaca; text-align: left; width:20.8333375%; margin-left: 0; ">
                            <div style="position: relative; ">
                                <span style="color:#353535; font-size: 18px; font-weight: 400; font-family:'Roboto', arial, sans-serif">{{ project.client.title }}</span>
                                <p style="margin: -5px 0 0 0;"><small class="text-muted"><i class="fa fa-clock-o"></i> {{ project.datetime|date('M-Y') }} </small></p>
                                <p style="margin: 5px 0 0 0;"><small class="text-muted"><i class="fa fa-cog"></i>
                                        {% for technique in project.techniques %}
                                            {{ technique.title }} {% if project.techniques|length > 1 and loop.index != project.techniques|length %}, {% endif %}
                                        {% endfor %}
                                    </small></p>
                                {% if project.url is not null %}
                                    <p style="margin: -5px 0 0 0;"><small class="text-muted"><i class="fa fa-globe"></i> <a href="{{ project.url }}" target="_blank">{{ project.url }}</a></small></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="blog-entry-content project-tags col-md-5 col-sm-6 col-xs-12  col-sm-offset-1 col-xs-offset-0" style="margin-left: 0;">
                            <div style="position: relative;">
                                <span style="color:#353535; font-size: 18px; font-weight: 400; font-family:'Roboto', arial, sans-serif">Tags</span>
                                <p style="margin: 5px 0 0 0; font-size: 15px; font-weight: 400;">
                                    {% for tag in project.tags %}
                                        <a href="/portfolio/tag/{{ tag.slug }}">#{{ tag.title }}{% if project.tags|length > 1 and loop.index != project.tags|length %}</a> ,{% else %}</a>{% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
{% block extra %}
{% include('@App/includes/contact-me.html.twig') %}
<!-- Video Modal -->
<div class="modal modal-video fade in" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="video-container">
                    <iframe id="project-video" width="720" height="405" src="https://www.youtube.com/embed/hY_BxQYP0-I?enablejsapi=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip">
                    <!-- <a href="#" class="pswp__share--facebook"></a>
                    <a href="#" class="pswp__share--twitter"></a>
                    <a href="#" class="pswp__share--pinterest"></a>
                    <a href="#" download class="pswp__share--download"></a> -->
                </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/projects_page.js'
        'js/project_page.js'
        'js/flexsliderconfig.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var icon = $('.play');

            icon.click(function() {
                icon.toggleClass('active');
                return false;
            });
        });

        var player;
        var tag = document.createElement('script');
        tag.id = 'project-video';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('project-video', {
                events: {
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            document.getElementById('project-video');
            $(".video-container").fitVids();
        }

        $('#modal-video').on('show.bs.modal', function (e) {
            player.playVideo();
        });

        $('#modal-video').on('hidden.bs.modal', function (e) {
            if(!player.isPaused){
                pauseVideo(player);
            }
        });

        /**
         * Pause a YouTube video (after fading out sound).
         * @param  {object} player An YT.Player instance
         */
        var pauseVideo = function(player) {
            var currentVolume;
            if (player == null) {
                player = void 0;
            }
            if (!player) {
                throw new Error('No YouTube player instance specified.');
            }
            if (!player.hasOwnProperty('getVolume')) {
                throw new Error("'" + (Object.prototype.toString.call(player)) + "' is not a valid YouTube player instance.");
            }
            currentVolume = player.getVolume();
            if (currentVolume === 0) {
                player.pauseVideo();
                player.unMute();
                return player.setVolume(100);
            } else {
                player.setVolume(currentVolume - 8);
                return setTimeout((function() {
                    return pauseVideo(player);
                }), 15);
            }
        };
    </script>
{% endblock %}