<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="nl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Peter Knijff">
<meta property="og:locale" content="nl_NL" />
<meta property="og:url" content="https://www.peterknijff.nl/" />
<meta property="og:title" content="Software developer | Peter Knijff" />
<meta property="og:description" content="Op zoek naar een uitdagende functie op het gebied van back-end development, PHP en Javascript" />
<meta property="og:image" content="{{ absolute_url(asset('bundles/app/img/pk-social-share-img.png')) }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="520" />
<meta property="og:image:height" content="375" />
<meta property="og:site_name" content="Peter Knijff - Software developer" />
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<title>{% block title %}{% endblock %}</title>
{% block stylesheets %}
{% stylesheets filter='cssrewrite' output='css/style.css'
    'css/bootstrap.css'
    'bundles/bmatznerfontawesome/css/font-awesome.min.css'
    '@flexslider_css'
    'css/theme.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
{% endblock %}
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body class="home-page">
<div class="wrapper">
<!-- Menu -->
{% include '@App/includes/main-menu.html.twig' %}
<!-- Body -->
{% block body_content %}
{% endblock %}
<!-- Extra -->
{% block extra %}
{% endblock %}
<!-- Footer -->
{% include '@App/includes/footer.html.twig' %}
</div>
</body>
{% block javascripts %}
{% javascripts output='js/main.js'
    'js/jquery.js'
    'js/bootstrap.js'
    'js/theme.js'
%}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
{% endblock %}
</html>