<!-- Contact CTA -->
<section id="cta-section" class="section cta-section text-center contact-cta-section">
    <div class="container">
        <h2 class="title">Zin in een goed gesprek en een kop koffie?</h2>
        <a class="more-experience btn btn-cta btn-cta-primary" href="{{ url('contact') }}" >Neem contact op met Peter</a>
    </div>
</section>