<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Home</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% if app.request.get('_route') != 'index' %}  {{ path('index') }}{% endif %}#bezigheden"><i class="fa fa-caret-right"></i>Bezigheden</a>
                            </li>
                            <li>
                                <a href="{% if app.request.get('_route') != 'index' %}  {{ path('index') }}{% endif %}#testimonials"><i class="fa fa-caret-right"></i>Meningen van anderen</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Over mij</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% if app.request.get('_route') != 'about' %}  {{ path('about') }}{% endif %}#experience"><i class="fa fa-caret-right"></i>Ervaringen</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col links col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-col-inner">
                        <h3 class="title">Projecten</h3>
                        <ul class="list-unstyled">
                            {% for project in getProjects()  %}
                                <li>
                                    <a href="{{ path('project', {'slug': project.slug }) }}"><i class="fa fa-caret-right"></i>{{ project.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="footer-col connect col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-col-inner">
                        <ul class="social list-inline">
                            <li>
                                <a href="https://www.linkedin.com/in/peterknijff" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="row-end">
                                <a href="https://www.instagram.com/peter.knijff/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright &copy; {{ "now"|date("Y") }} <a href="{{ url("index") }}" target="_blank">Peter Knijff</a></small>
        </div>
    </div>
</footer>
