<header id="header" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo">
            <a href="{{ url('index') }}">P. Knijff</a>
        </h1>
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- From here KNP Menu -->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                {{ knp_menu_render('mainMenu', {'template': 'AppBundle:Menu:top_menu.html.twig'}) }}
            </div>
        </nav>
    </div>
</header>