<!-- Experience CTA -->
<section id="cta-section" class="section cta-section text-center contact-cta-section">
    <div class="container">
        <h2 class="title">Op zoek naar een enthousiaste, gedreven en ervaren collega?</h2>
        <p class="intro">Meer dan <span class="counting">{{ getExperiences() }}</span> verschillende werkervaringen!</p>
        <a class="more-experience btn btn-cta btn-cta-primary" href="{{ url('about') }}#experience" >Meer over werkervaringen</a>
    </div>
</section>