<!-- Testimonials -->
<section id="testimonials" class="section testimonials">
    <div class="container">
        <h2 class="title text-center">Anderen over Peter</h2>
        <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <figure class="profile">
                        <img src="{{ asset('bundles/app/img/people/profile-m-1.png') }}" alt="" />
                    </figure>
                    <div class="content">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>Weten wat je krijgt en niks aan het toeval overlaten. Dat is zoals we het zaken doen met Peter kan omschrijven. Er wordt gedacht in oplossingen, in de evenementenwereld is dat erg fijn samenwerken.</p>
                        </blockquote>
                        <p class="source">Ruud van Eck en Perry Bakker<br />
                            <span class="title">
                                <a href="http://www.stadiumfunrun.com/" target="_blank">Stadium Fun Run</a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <figure class="profile">
                        <img src="{{ asset('bundles/app/img/people/profile-m-1.png') }}" alt="" />
                    </figure>
                    <div class="content">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>Iemand met een passie voor zijn vak, weet van aanpakken en zorgt dat alles netjes tot in de puntjes uitgewerkt en opgeleverd wordt. Een echte alleskunner!</p>
                        </blockquote>
                        <p class="source">Rowin Everaers<br />
                            <span class="title">XS4ALL - support</span>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <figure class="profile">
                        <img src="{{ asset('bundles/app/img/people/profile-m-2.png') }}" alt="" />
                    </figure>
                    <div class="content">
                        <blockquote>
                            <i class="fa fa-quote-left"></i>
                            <p>Samenwerken met Peter is altijd een feest, samen zijn wij een bedrijf gestart in de evenementen branche. Naast dat er veel en hard gewerkt wordt is er altijd wel tijd voor een grapje of een grolletje.</p>
                        </blockquote>
                        <p class="source">Paul van der Heijden<br />
                            <span class="title">
                                Mede-eigenaar, <a href="http://www.uniq-group.nl" target="_blank">Uniq Group</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>