body#welcome .content-wrapper {
    margin-left: 0;
}

body#welcome #main .box {
    margin: 0 auto;
    width: 350px;
    min-height: 150px;
    padding: 1em;
}

body#welcome #main .box--primary {
    background: #FFF;
    border: 1px solid #EEE;
    box-shadow: 0 0 3px #CCC;
    padding: 2em;
}
body#welcome #main .box--secondary {
    background: transparent;
    border: 0;
    box-shadow: none;
}

body#welcome #main .box h1 {
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 .5em;
}

body#welcome #main .box a {
    font-weight: bold;
    text-decoration: underline;
}

body#welcome #main .box code {
    background: #F0F0F0;
    color: inherit;
}

body.new .large input.form-control,
body.edit .large input.form-control,
body.show .large div.form-control {
    font-size: 21px;
    height: auto;
    padding: 7px;
}

@media (min-width: 768px) {
    body#welcome #main .box {
        margin-top: 1em;
    }
    body#welcome #main .box h1 {
        font-size: 24px;
    }
    body#welcome #main .box .login-help {
        color: #777;
        margin-top: 15px;
    }
}
