/* ======= Contact markup ======= */
.contact-section {
    padding: 80px 0;
    padding-top: 165px;
    position: relative;
    z-index: 10;
}
.contact-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}
.contact-section .intro {
    margin-bottom: 60px;
}
.contact-section .contact-form {
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
}
.contact-section .contact-form .contact-form-inner {
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.contact-section .contact-form .error {
    color: #f87a00;
    font-family: arial, sans-serif;
    display: block;
    font-size: 14px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 300;
}
/* ======= Contact-other section ======= */
.contact-other-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}
.contact-other-section .other-info li {
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
    color: #666666;
    text-align: left;
    padding-left: 90px;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #efefef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.contact-other-section .other-info li:last-child{
    margin-bottom: 60px;
}
.contact-other-section .other-info li p{
    margin: 0 !important;
}

.contact-other-section .other-info li a {
    color: #666666;
}
.contact-other-section .other-info li a:hover {
    color: #f87a00;
}
.contact-other-section .other-info li .fa {
    position: absolute;
    left: 0;
    top: 0;
    background: #f87a00;
    color: #fff;
    width: 60px;
    height: 100%;
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.contact-other-section .other-info li .fa.fa-twitter {
    font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-phone {
    font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-map-marker {
    font-size: 22px;
    padding-top: 52px;
}