ul.beentheredonethat > li{
    list-style:none;
    text-align: right;
    font-size: 22px;
    font-weight: normal;
    color: #5d5d5d;
}
ul.beentheredonethat > li:not(:first-child){
    margin-top:-2px;
}

ul.beentheredonethat > li:not(:last-child):after{
    content: "";
    width: 23px;
    height: 22px;
    background: transparent url("/bundles/app/img/checkmark.png") no-repeat;
    top: 10px;
    right: 5px;
    display: inline-block;
    margin-left: 10px;
}

ul.beentheredonethat > li:last-child:after{
    content: "";
    width: 23px;
    height: 22px;
    background: transparent url("/bundles/app/img/checkmark-unchecked.png") no-repeat;
    top: 10px;
    right: 5px;
    display: inline-block;
    margin-left: 10px;
}