#filter-projects{
    float: right;
    margin-right: 2px;
    margin-top: 0;
    background: #5d80a1 url('/bundles/app/img/caret-down.png');
    padding-right: 20px;
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.filter{
    cursor: pointer;
    width: 230px;
    height: 60px!important;
}

.customSelectInner {
    background-position: top;
    width: 230px !important;
    border-radius: 3px !important;
    height: 47px;
    line-height: 47px;
    color: #fff;
    text-align: center;
}

.customSelect span {
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 0 8px 0;
}

.project-caret{
    padding-left: 19px;
}