/* STICKY NAV FOR PROJECTS NEXT AND PREV */
@media (min-width: 768px){
    .section-fixed{
        position: fixed !important;
        top: -380px !important;
        width: 100% !important;
        z-index: 100 !important;
        -webkit-transform: translate3d(0px,0px,0px) !important;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }

    .wrapper-adjust{
        margin-top: 570px;
    }
}
@media (max-width: 767px){
    .section-fixed{
        position: fixed !important;
        top: -460px !important;
        width: 100% !important;
        z-index: 100 !important;
        -webkit-transform: translate3d(0px,0px,0px) !important;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }

    .wrapper-adjust{
        margin-top: 570px;
    }
}
.photo-gallery {
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}

.play-button {
    height: auto;
    position:relative;
    cursor:pointer;
}

.play-button:after {
    content: "\f01d";
    font-family: 'FontAwesome';
    text-align:center;
    font-size: 5em;
    line-height:0;
    color:#fff;
    opacity:0.8;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.play-button:hover:after {
    color:#f87a00;
    font-size: 6em;
}


@media (max-width: 767px) {
    .client-logo{
        width: 100% !important;
        padding-right: 0;
    }
    .client-logo, .client-info > div{
        text-align: center;
    }

    .client-logo .img-responsive{
        display: inline-block;
    }
    .client-info{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100% !important;
        text-align: center;
        border-right: 0 !important;
        border-bottom: solid 2px #cacaca !important;
    }

    .project-tags{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100% !important;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .client-logo{
        width: 15% !important;
    }
    .client-info{
        width:35% !important;
    }

}